@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100&display=swap');

.main-content{
    margin-left: 250px;
    padding: 10px;
}
.carousel-inner {
    border-radius: 5px;
}
.carousel-image{
    height: 250px;
    border-radius: 5px;
}
.wrapper-content{
    padding-top: 10px;
}
.list-produk-home{
    display: flex;
    flex-wrap: wrap;
}
.box-produk{
    margin-right: 1%;
    margin-bottom: 10px;
    background-color: white;
    box-shadow: 0 0 5px #aaa;
    transition: 0.2s;
    cursor: pointer;
    border-radius: 5px;
    width: 24%;
    overflow: hidden;
}
.box-produk:hover{
    box-shadow: 0 0 10px #aaa;
}
.image-produk{
    width: 100%;
    height: 160px;
    overflow: hidden;
}
.box-produk .image-produk img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.box-desc-produk{
    padding: 5px;
}
.box-desc-produk .kategori-produk i, .box-desc-produk .kategori-produk span{
    font-size: 13px;
}
.box-desc-produk header{
    font-family: Roboto!important;
    font-weight: 300;
}
.box-desc-produk table tr td{
    font-size: 12px;
}